.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-logo_jvit {
  height: 80px;
}
.App-header {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(./images/bg-01.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 170px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.8em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
