body{
	margin: 0;
	padding: 0;
	background-color: #212121 !important;
}

.contain {
	width: 1300px;
	height: 900px;
	margin: 10px auto;
	/* padding: 5px; */
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	/* border: 1px solid black; */
	background-color: #FAFAFA;
}

.navbar {
	width: 100%;
	height: 70px;
	float: left;
	clear: both;
	border-top-left-radius: 5px;
	/* border-bottom-right-radius: 10px; */
	border-top-right-radius: 5px;
	/* border-bottom-left-radius: 10px; */
	background-color: #009688;
}

.navbar h1 {
	padding-left: 10px;
	position: relative;
	float: left;

}

.navbar h1 a {
	text-decoration: none;
	color: #fff;
}
.navbar-new {
	position: relative;
	/* top: 20px; */
	right: 20px;
	float: right;
	
	
}

.navbar-new a {
	
	text-decoration: none;
	color: white;
}

.btn :hover {
	text-decoration: none;
	color: white;
}

.list-note {
	width: 300px;
	height: 92.2%;
	position: relative;
	background-color: #E0E0E0;
	float: left;
}

.list-item {
	height: 60px;
	padding-top: 10px;
	padding-left: 10px;
	position: relative;
	margin-bottom: 5px;
	background-color: #BDBDBD;
	list-style: none;
}

.active {
	background-color: aqua;
}
.list-item p {
	font-size: 14px;
	font-weight: normal;
	float: right;
	position: relative;
	right: 5px;
}

.list-note a {
	text-decoration: none;
	color: #212121;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bolder;
}

.list-note :hover {
	cursor: pointer;
	text-decoration: none;
	background-color: aqua;
}

.list-note :active {
	background-color: aqua;
}

/* SHOW PAGE */
.show-page {
	width: 980px;
	float: left;
	/* position: relative; */
	padding-left: 10px;
	/* margin-left: 60px; */
	/* border: 1px solid black; */
}

.note-title {
	position: relative;
}

.note-title h1{
	padding-top: 13px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 32px;
}

.note-body {
	position: relative;
	height: auto;
	max-width: 1000px;
	max-height: 600px;
	overflow: auto;
	/* overflow-y: scroll; */
	/* background-color: #009688; */
	text-align: justify;
	padding: 8px;
}

.edit {
	margin-top: 10px;
	float: right;
}

.edit button {
	width: 100px;
	margin-left: 20px;
}
/* ================================ */

.new-note {
	position: relative;
	margin-top: 10px;
	margin-left: 10px;
	float: left;
	width: 985px;
	height: 815px;
}
.new-note input {
	width: 100%;
	margin-bottom: 15px;
}

.btn-func {
	float: right;
	margin-top: 10px;

}

.btn-func button{
	width: 100px;
	margin-left: 20px;
}
